
h1 { 
	font-size: 1.5em; 
	margin-bottom: 0.167em;
}

p { margin-bottom: 1.5em; }

.clearing { clear: both; }
.alert, .error { color: #FF0000; }

ol.forms {
	list-style: none;
	padding-left: 0;
	width: 100%;
}

ol.forms li {
	margin-left: 0;
	line-height: 1.5em;
	margin-bottom: 0.5em;
	width: 100%;
}

ol.forms label {
	cursor: pointer;
	display: block;
	line-height: 1.5em;
	padding-right: 1%;
	text-align: right;
	width: 10%;
}

ol.forms input {
 width: 50%;
 float: right;
 margin-right: 10px;
 }
ol.forms textarea {
	height: 20em; 
	width: 64%; 
}

ol.forms input, ol.forms textarea, ol.forms button { font: 1em Georgia, "Times New Roman", Times, serif; }

ol.forms .error { 
	display: block;
	margin: 0.25em 0 0 11%;
}

ol.forms li.buttons {
	padding-left: 11%;
	width: 89%;
}

ol.forms  input.file
{
 float: left;
 margin-right: 0;
 margin-left: 0;
 width: 56.5%;
}

.wordwrap {
    word-wrap: break-word;
}

.gray {
    background-color: #666;
}
