body {
       margin: 0px 0px 0px 0px;
	   background-color:#ffffff;
}

@font-face {
    font-family: "Login";
    src: url(./letraLog.ttf) format("truetype");
}

#cuerpo {
	text-align:center;
	float: left;
	
	margin: 0px 0px 0px 0px;

	background-color:#ffffff;
	
	width:100%;
	height: 100%;
}

#header {
	margin:1em auto;
	margin-top:0px;
	text-align:left;
	width:1000px;
	height:110px;
	background-image:url("../images/longLogo.png");
}

#contenedor_principal{
	margin:1em auto;
	width:1000px;
	height:400px;	
}

#contenido_login{
	text-align:left;
	width:1000px;
	min-height:400px;
	background-image:url("../images/cuerpo.png");
}

#login{
	float: left;
	margin:170px 0px 0px 380px;
	text-align:center;
	width:260px;
	height:170px;
	
	font-family:"Login";
	font-size:18px;
}

#login_table{
	font-size:25px;
}

#principal_top{
	width:1000px;
	height:22px;
	background-image:url("../images/principal_top.png");
}
#principal_center{
	width:1000px;
	min-height:400px;
	background-image:url("../images/principal_center.png");
	background-repeat:repeat-y;
}
#principal_bottom{
	width:1000px;
	height:22px;
	background-image:url("../images/principal_bottom.png");
}

#menu{
	
	float:left;
	margin-left: 12px;
	margin-right:0px;
	margin-top: 10px;
	font-family:"Login";
	font-size:16px;
	width:140px;
	
	display:inline;
}

#boton{
	width:136px;
	height:53px;
	text-align:center;
	background-image:url("../images/botonH.png");
	background-repeat:no-repeat;
}

#areaContenido{
	
	margin-left:160px;
	width:615px;
	min-height:100px;
	background-color:#ffffff;

}



#contenido_top{
	
	margin-left:170px;
	width:810px;
	height:28px;
	
	background-image:url("../images/contenido_top.png");
	background-repeat:no-repeat;
}

#contenido_center{
	
	margin-left:170px;
	width:810px;
	
	background-image:url("../images/contenido_center.png");
	min-height:350px;
}

#contenido_bottom{
	
	margin-left:170px;
	width:810px;
	height:29px;
	background-image:url("../images/contenido_bottom.png");
	background-repeat:no-repeat;
}

a:visited , a:link , a:active {
	color:black;
	text-decoration:none;
}

a:hover {
	cursor: pointer;
	color:green;
	#font-weight:bold;
}

#ui-datepicker-div { 
	background-color: #FFFFFF;
	font: 75% "Trebuchet MS", sans-serif; 
	margin: 0px;
}
#ui-datepicker-div 	.demoHeaders { 
	margin-top: 2em; 
}
#ui-datepicker-div #dialog_link {
	padding: .4em 1em .4em 20px;
	text-decoration: none;
	position: relative;
}
#ui-datepicker-div .ui-icon {
	margin: 0 5px 0 0;
	position: absolute;
	left: .2em;
	top: 50%;
	margin-top: -8px;
}
#ui-datepicker-div ul#icons {
	margin: 0; 
	padding: 0;
}
#ui-datepicker-div  ul#icons li {
	margin: 2px; 
	position: relative; 
	padding: 4px 0; 
	cursor: pointer; 
	float: left;  
	list-style: none;
}
#ui-datepicker-div ul#icons span.ui-icon {
	float: left; 
	margin: 0 4px;
}

h2{
	font-family:"Login";
	font-size:24px;
	margin-top:0px;
	margin-bottom:30px;
    text-decoration: underline;
}

h3{
	font-size:14px;
	#font-weight:bold;
}

em{
	font-style:normal;
	font-size:12px;
	font-weight:bolder;
}


form {
margin:0;
}

.editarb{
	font-style:normal;
	font-size:15px;
	font-weight:bolder;
	text-align:center;
	border: 0;
}

.tablainformativa {
    margin-left: 30px;
}

